@import "../../style.scss";
*{
    margin: 0;
    padding: 0;
   
}
.login{
    height: 100vh;
    background-color: rgb(193, 190, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    @include mobile{
        flex-direction: column;
        height: 100%;
    }
    .card{
        width: 50%;
        display: flex;
        background-color: white;
        border-radius: 10px;
        min-height: 600px;
        overflow: hidden;
        @include mobile{
            width: 100%;
            flex-direction: column;
            justify-content: unset;
            border-radius:0px;
        }
        @include tablet{
            width: 100%;
        }
        .left{
            flex: 1;
            background:linear-gradient(rgb(39,11,96,0.5),rgba(39,11,96,0.5)),url(https://plus.unsplash.com/premium_photo-1664302152991-d013ff125f3f?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YnVzfGVufDB8fDB8fHww&auto=format&fit=crop&q=60&w=600) center;
            background-size: cover ;
            padding: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;
            color: white;
            @include mobile{
                padding: 10px;
                gap: 10px;
            }
            @include tablet{
                padding: 25px;
                gap: 20px;
            }
            h1{
                font-size: 100px;
                line-height: 100px;
                @include mobile{
                    font-size: 30px;
                    line-height: 50px;
                }
            }
            p{}
            span{
                font-size: 14px;
            }
            button{
                width: 50%;
                padding:10px;
                border: none;
                background-color: white;
                color: rebeccapurple;
                font-weight: bold;
                cursor: pointer;
            }
        }
        .right{
            flex: 1;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            justify-content: center;
            @include mobile {
                padding: 10px;
                gap: 5px;
            }
            h1{
                color: #555;
            }
            form{
                display: flex;
                flex-direction: column;
                gap: 30px;
                input{
                    border: none;
                    border-bottom: 1px solid lightgray;
                    padding: 20px 10px;
                }
                button{
                    width: 50%;
                    padding: 10px;
                    border: none;
                    background-color: #938eef;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }
    }
}