.cancellation-container {
  margin-top: 20px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  overflow: hidden;

  h4 {
    cursor: pointer;
    margin: 0;
    padding: 14px 18px;
    font-size: 18px;
    font-weight: 600;
    background: #f4f6ff;
    color: #2b3760;
    display: flex;
    align-items: center;
    justify-content: space-between;

    svg {
      transition: transform 0.3s ease;
    }

    &.rotate svg {
      transform: rotate(180deg);
    }
  }

  .cancellation-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0;

    thead {
      background: #2b3760;
      color: white;

      th {
        padding: 12px;
        font-weight: 600;
        text-align: left;
        font-size: 14px;
        &:nth-child(2){
            color: #d84e55;
        }
        &:nth-child(3){
            color: #2e8b57;
        }
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid #e6e6e6;

        &:hover {
          background: #f9f9ff;
        }

        td {
          padding: 12px 14px;
          font-size: 14px;
          color: #333;
          &:nth-child(2){
            color: #d84e55;
            font-weight: 600;
          }
          &:nth-child(3){
            color: #2e8b57;
            font-weight: 600;
          }
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
